body {
  background: url('./images/wet-tomato.jpg');
  background-size: cover;
  background-position: 70%;
}

.app-container{
  border: 2px solid black;
  width: 80vw;
  height: 90vh;
  position: relative;
  margin: 5vh auto;
  background: rgb(255, 237, 231, 0.9);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time-interval-container{
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.title{
  font-family: ;
  font-size: 1.8rem;
  text-align: center;

}

.interval-buttons-container{
  display: flex;
  align-self: center;

}

.interval-button{
  border: none;
  border-radius: 8%;
  background: red;
}

.display-container{
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.session-title{
  font-family: ;
  margin: auto 0;
}

.countdown-timer{
  background: url('./images/tomato-icon.png') no-repeat;
  width: 20vw;
  height: 100%;
  font-family: ;

}

.controls-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.control-button{

}

.settings-container{
  align-self: center;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.settings-button{
  border-radius: 50%;
  border: none;
  background: url('./images/settings.png');
  height: 48px;
  width: 48px;
}

.input-container{
  
}

label {
  display: inline-block;
}

.hide {
  display: none;
}

.show {
  position: absolute;
  top: 20vh;
  left: 0;
  margin: 2vh 2vw;
  background: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  width: 76vw;
  height: 66vh;
  border-radius: 3%;
}